[package]
name = "hypern"
version = "0.3.15"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "hypern"
crate-type = ["cdylib", "staticlib"]

[dependencies]
pyo3 = { version = "0.26.0", features = ["anyhow", "bytes", "extension-module", "generate-import-lib"] }
pyo3-async-runtimes = { version = "0.26.0", features = ["tokio-runtime"] }

tokio = { version = "1.47.1", features = ["full"] }
socket2 = { version = "0.6.0", features = ["all"] }
hyper = { version = "1.6.0", features = ["server", "http1", "http2"] }
http-body-util = "0.1.3"
hyper-util = { version = "0.1.16", features = ["tokio"]}
bytes = "1.10.1"
tungstenite = "0.27.0"
hyper-tungstenite = "0.18.0"
tokio-tungstenite = "0.27.0"
anyhow = "1.0.99"
percent-encoding = "2.3.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "2.5.4"
form_urlencoded = "1.2.1"
mime = "0.3.17"
mimalloc = { version = "0.1.47", optional = true }

[target.'cfg(not(any(target_env = "musl", target_os = "freebsd", target_os = "openbsd", target_os = "windows")))'.dependencies]
tikv-jemallocator = { version = "0.6.0", default-features = false, features = ["disable_initial_exec_tls"] }

[build-dependencies]
pyo3-build-config = "=0.25"

[features]
mimalloc = ["dep:mimalloc"]

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "fat"
opt-level = 3
panic = "abort"
strip = "debuginfo"

[package.metadata.maturin]
name = "hypern"
python-source = "hypern"
